{% extends "base.html.twig" %}

{% block title %}Modify avatar{% endblock %}

{% block body %}
    <div class="container full">
        <h1>Modification of {{app.user.fullName}} avatar</h1>
        <img src="/uploads/{{app.user.picture}}" alt="avatar de {{app.user.email}}" id="picAvatar">
        {{form_start(myForm)}}
            {{form_widget(myForm)}}
            <button type="submit" class='btn btn-warning'>Confirm avatar modification</button>
        {{form_end(myForm)}}
          {% if app.user.picture is not empty %}
            <a href="{{ path('account_delimg') }}" class="btn btn-danger my-2">Delete avatar</a>
          {% endif %}
    </div>
{% endblock %} 