<nav class="navbar navbar-expand-lg" style="background-color: #f50438">
    <div class="container-fluid">
        <a class="navbar-brand text-white" href="#">Drive2Night</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link text-white" href="{{ path('homepage') }}">Home <i class="fa-solid fa-warehouse" style="color: #ffffff;"></i></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link text-white" href="{{ path('cars_index') }}">Cars <i class="fa-solid fa-car" style="color: #ffffff;"></i></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link text-white" href="{{ path('cars_brands_list') }}">Brands <i class="fa-solid fa-list" style="color: #ffffff;"></i></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link text-white" href="{{ path('cars_search') }}">Search <i class="fa-solid fa-magnifying-glass" style="color: #ffffff;"></i></a>
                </li>
            </ul>

            <ul class="navbar-nav ms-auto">
                {% if app.user %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            My account  
                        <img src="{{ app.user.picture ? asset('uploads/' ~ app.user.picture) : asset('uploads/user.webp') }}" alt="Photo de profil" class="rounded-circle mx-" style="width: 30px; height: 30px; object-fit:cover;">
                        </a>
                      <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li>
                            <a class="dropdown-item" href="{{ path('account_profile') }}">Modify my account</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{{ path('user_profile') }}">View my profile</a>
                        </li>
                        <li>
                            <a class="dropdown-item text-danger" href="{{ path('account_logout') }}">Log out</a>
                        </li>
                    </ul>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a href="{{ path('account_register') }}" class="nav-link">Registration</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('account_login') }}" class="nav-link">Login</a>
                    </li>
                {% endif %}
             
              
            </ul>
        </div>
    </div>
</nav>
