{% extends "base.html.twig" %}


{% block title %}Modifying a car{% endblock %}

{# {% form_theme myForm _self %} #}
{% form_theme myForm 'car/_collection.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Car modification: <strong>{{car.fullCar}}</h1>
        <form method="post" action="{{ path('cars_delete', {'slug': car.slug}) }}" onsubmit="return confirm('Are you sure you want to get rid of this car?');">
            <button type="submit" class="btn btn-danger mt-3">Delete</button>
        </form>

        {{ form_start(myForm) }}

             {{form_widget(myForm)}}

            <button type="submit" class="btn btn-primary mt-3">Modify</button>
            



        {{ form_end(myForm) }}
    </div>
{% endblock %}



{% block javascripts %}
{{encore_entry_script_tags('car')}}
{% endblock %}