{% extends "base.html.twig" %}


{% block title %}Modification d'une voiture{% endblock %}

{# {% form_theme myForm _self %} #}
{% form_theme myForm 'car/_collection.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Modification de la voiture : <strong>{{car.brand}} {{car.model}}</h1>
        <form method="post" action="{{ path('cars_delete', {'slug': car.slug}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cette voiture ?');">
            <button type="submit" class="btn btn-danger mt-3">Supprimer</button>
        </form>

        {{ form_start(myForm) }}

             {{form_widget(myForm)}}

            <button type="submit" class="btn btn-primary mt-3">Modifier</button>
            



        {{ form_end(myForm) }}
    </div>
{% endblock %}



{% block javascripts %}
{{encore_entry_script_tags('car')}}
{% endblock %}